<header>
  <div class="container">
    <mat-toolbar color='warn'>
      <mat-toolbar-row>
          <span class="fill-remaining-space">
        <a routerLink="/" class="logo">{{apptitle}}</a>
          </span>
        <span class="fill-remaining-space">
          <nav class="nav">
            <ul class="toolbar">
              <li><a routerLink="/home">Home</a></li>
              <li><a routerLink="/user">Users</a></li>
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/contact">Contact us</a></li>
            </ul>
          </nav>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</header>